* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* #E6E6FA 
 #F5F5DC
 #D2B48C
 #B0E0E6
 #FFDAB9
 #F5FFFA
 */
body {
    background-color: #E6E6FA;      
    min-width: 25rem;
    font-family: 'fredoka', Helvetica, sans-serif;
    padding: 2rem;
}

h3, input, button {
    margin-bottom: 0.8rem;
}

h3 {
    text-align: center;
    color: #3e027a;
}

input {
    width: 100%;
    background-color: #F5FFFA;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #027a3e;
    border-radius: 8px;
}

div {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    width: 100%;
    background: #027a3e;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    margin: auto;
}

div button:last-child {
    background-color: transparent;
    border: 2px solid #027a3e;
    color: #027a3e;
}

button:hover {
    background-color: #03934b;
}

div button:last-child:hover {
    background-color: #F5FFFA;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #027a3e;
}