/*
#202938
#f4f4f4
#4adf86
#10b980
#50e087
#ecfdf5
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: #202938;
    width: 50%;
    height: 60vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.text-el {
    width: 80%;
    border-bottom: 2px solid #315086;
    margin-bottom: 20px;
}

h1, p {
    color: #f4f4f4;
    margin-bottom: 10px;
}
h1 {
    font-size: 40px;
}
span {
    color: #4adf86;
}
p {
    margin-bottom: 30px;
    font-size: 20px;
}
.text-el button {
    width: 200px;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #10b980;
    color: #f4f4f4;
    margin-bottom: 30px;
}

.text-el button:hover {
    border: 2px solid #f4f4f4;
}

.buttons {
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.buttons button {
    background-color: #10b980;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: #f4f4f4;
    font-size: 16px;
}

@media (max-width: 600px) {
    main {
        height: 80vh;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}